@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


@media (min-width: 544px) {  
  h1 {font-size:1.5rem;}
  p {font-size: 0.8rem;}
  h7 {font-size: 0.7rem;}
  /*.news p{font-size: 1rem;} /*1rem = 16px*/*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:2rem;}
  p {font-size: 0.9rem;}
  h7 {font-size: 0.7rem;}
  /*.news p{font-size: 0.9rem;} /*1rem = 16px*/*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;}
  p {font-size: 1rem;}
  h7 {font-size: 0.8rem;}
  /*.news p{font-size: 1rem;} /*1rem = 16px*/*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 2000px) {  
  h1 {font-size:3.2rem;}
  p {font-size: 1.1rem;}
  h7 {font-size: 1.1rem;}
  /*.news p{font-size: 1.1rem;}*/
  h6 {font-size: 1.2rem;}
  .nav-link {font-size: 1.2rem;} /*1rem = 16px*/    
}

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #222;

}

p {
	color: #707070;
	font-family: 'Lato';
	/*font-size: 1rem;*/
	letter-spacing: 0.2px;
}

a{
	color: #4D7EA8;
}

.navbar {
	padding: 2rem;
}

.navbar-nav li {
	padding-right: 2rem;
	letter-spacing: 0.2px;
}

.nav-link {
	font-size: 1rem ;
}

.intro h1 {
	/*padding-bottom: 2rem;*/
	color: #DA627D;
	font-family: 'Arbutus Slab', serif;
	font-weight: 00;
	/*font-size: 2.8rem;*/
}

.intro p {
	/*padding-bottom: 2rem;*/
	color: #707070;
	font-family: 'Lato';
	/*font-size: 1rem;*/
	letter-spacing: 0.2px;
	line-height: 1.8rem;

}

#introFirstLine{

	padding-top: 0.5rem;
}


.news h7 {
	
	font-size: 1rem;
	/*padding-top: 1rem;*/
	color: #DA627D;
	font-weight: bolder;
	font-family: 'Lato', serif;

}

.intro h7 {
	
	font-size: 1rem;
	/*padding-top: 1rem;*/
	color: #DA627D;
	font-weight: bolder;
	font-family: 'Lato', serif;

}


.news p {
	
	color: #707070;
	font-family: 'Lato';
	/*font-size: 0.8rem;*/
	letter-spacing: 0.2px;
}

.newsListSmall {
padding-top: 1rem;
}

.publicationsSmall {
padding-top: 1rem;
}


.intro h4 {
	padding-bottom: 1rem;
}


#mylogo{
	width: 6.5rem;
	/*padding-left: 0.8rem;*/
}

.section-heading {
	color: #DA627D;
	font-weight: bolder;
	padding-bottom: 3rem;
	padding-left: 0;
}


.card-body{
	padding-left: 0;
}

.footer{
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	width: 100%;
	background-color: #edf2f4;
}

.footer p {
	font-size: 0.8rem;
}

.social{
	padding-bottom: 1rem;
}

.social a{
	font-size: 1.5rem;
	padding: 0.9rem;
}

.fa-twitter, .fa-linkedin, .fa-envelope{
	color: #DA627D;
}

.fa-twitter:hover{
color: #00acee;
}

.fa-linkedin:hover{
color: #0e76a8;
}

.selected-projects {
	padding-bottom: 8rem;
}

.about-me h3{
color: #DA627D;
font-weight: 500;
}



.about-me p{
line-height: 1.7rem;
letter-spacing: 0.2px;
}

.about-me img{
	
	width: 100%;
	border-radius: 10px; 
}

.selected-projects h2 {
	color: #DA627D;
	font-family: 'Arbutus Slab', serif;
	font-weight: 00;
	font-size: 1.2rem;
	padding-bottom: 2rem;
	padding-top: 3rem;
}

.Publications h2 {
	color: #DA627D;
	font-family: 'Arbutus Slab', serif;
	font-weight: 00;
	font-size: 1.2rem;
	padding-bottom: 2rem;
	padding-top: 3rem;
}


.one-publication p{
/*font-size: 0.9rem;*/
color: #707070;
margin-bottom: 0.5rem;
}

.one-publication{
	padding-bottom: 1.2rem;
}

.recent-updates h2 {
	font-family: 'Arbutus Slab', serif;
	font-weight: 00;
	font-size: 1.2rem;
	padding-bottom: 2rem;
	padding-top: 3rem;
}


.recent-updates b{
	font-weight: 600;
		color: #DA627D;

}

.project {
	padding-top: 3.5rem;
}

.project h2{
	color: #DA627D;
	font-family: 'Arbutus Slab', serif;
	font-size: 1.4rem;
}

.project h6{
	color: #707070;
	padding-top: 0.3rem;
	padding-bottom: 2rem;
	font-size: 0.9rem;
}

.project-section h6 {
	padding-bottom: 1rem;
	font-weight: 700;
	color: #DA627D;
	font-size: 0.9rem;
	padding-top: 1.5rem;

}

.project-section p {
	letter-spacing: 0.01rem;
}

.project-image img{
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.project-image p{
	text-align: center;
	font-style: italic;
	font-size: 0.8rem;
}

.workshop h1 {
	/*padding-bottom: 2rem;*/
	color: #B80C09;
	font-family: 'Gabarito', sans-serif;
	font-weight: 00;
	font-size: 1.5rem;
}

.workshop p {
	/*padding-bottom: 2rem;*/
	color: #707070;
	font-family: 'Lato';
	font-size: 1rem;
	letter-spacing: 0.2px;
	line-height: 1.8rem;

}

.hero-image {
  background-image: url("Projects/Workshop/bg.jpg");
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Gabarito', sans-serif;

}
